@import "tailwindcss";
body {
  background-color: var(--color-slate-900);
}
/* Mouse */
.main-section {
  height: 100vh;
}
.mask,
.body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afa18f;
  font-size: 64px;
  line-height: 66px;
  cursor: default;
}
.mask p,
.body p {
  width: 1000px;
  padding: 40px;
}
.mask span,
.body span {
  color: #ec4e39;
}

.mask {
  mask-image: url("/images/mask.svg");
  mask-repeat: no-repeat;
  mask-size: 40px;
  background: #2ecc71;
  position: absolute;
  color: black;
}
/* Mouse */

.races {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
}

.races h2 {
  font-family: "Staatliches", cursive;
  font-size: 30vw;
  flex-shrink: 0;
  padding-right: 0.3em;
  padding-left: 0.3em;
  color: #e10600;

  margin: 0;
}
body {
  overflow-x: hidden;
}
